.signup-title {
    margin: auto;
    width: 20vw;
    padding: 10px;
    text-align: center;
    color: #9d1c00;
}

.signup-container {
    padding-left: 50px;
    width: 15vw;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px black;
    margin: auto;
    align-items: center;
}

.signup-container ul {
    list-style: none;
    align-items: center;
    margin-left: -50px;
}

.signup-container li input {
    margin-left: 15px;
    border: 1px solid black;
    margin-top:10px;
    padding: 5px;
    text-align: center;

}

.signup-container li button {
    background: none;
    font-size: large;
    color: #9d1c00;
    border-radius: 100px;
    border: #9d1c00 1px outset;
    margin-top: 20px;
}
